.faq {
  padding: 40px 40px 40px 60px;
}

.faq > h3 {
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(90deg, #0800a4, #003ecf);
  width: fit-content;
  background-clip: text;
  color: transparent;
}

.faq_sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.faq_sections > div {
  flex: 0 0 45%;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: #f6f6f9; */
  /* border: 1px solid #f2f2ff; */
  box-shadow: rgba(0, 0, 0, 0.075) 0px 4px 12px;
  border: 1px solid #ffacc5;
  border-radius: 10px;
}

.faq_sections > div > h1 {
  font-size: 16px;
  /* color: #05006d; */
  color: #6706d4;
}

.faq_sections > div > p {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 950px) {
  .faq_sections > div {
    flex: 0 0 48%;
  }
  .faq {
    padding: 20px;
  }
}

@media screen and (max-width: 550px) {
  .faq_sections > div {
    flex: 0 0 100%;
  }
}
