.confetti-container > h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  position: relative;
  z-index: 4;
  color: white;
  text-shadow: 2px 2px 8px #987912;
}

.confetti-container > h2 > span {
  color: #7a00fb;
  text-shadow: none;
}

.confetti-container {
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(45deg, #fbff00, #ffd700, #ffcc33);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
  border-radius: 10px;
  margin-bottom: 30px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#confetti {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.confetti-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  z-index: 4;
}

.confetti-container > div > a {
  padding: 8px 26px;
  background-color: white;
  font-weight: 500;
  font-size: 14px;
  border-radius: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.confetti-container > div > a:hover {
  background-color: #ff6347;
  color: white;
  box-shadow: #ff6347d3 0px 4px 12px;
}

@media screen and (max-width: 600px) {
  .confetti-container > h2 {
    font-size: 24px;
  }
  .confetti-container {
    padding: 10px;
  }
}
